<div class="container row col-12">

    <div class="col-6" style="padding:40px">
    
    <h3>JOIN OUR MAILING LIST</h3>
    <div class="line"></div>
    <input class="join" placeholder="Email"/>
    <div class="join-btn">Sign up</div>
    </div>

    <div class="col-6" style="padding:40px">
        <h3>EXPLORE</h3>
    <div class="line"></div>
    <div class="sec1" style="margin-left: 90px;">Shop now<br>Facebook</div>
    <div class="sec1" style="margin-left: 30px;">Instagram<br>Contact</div>
    <div class="sec1" style="margin-left: 30px;">About us</div>
    </div>

</div>
