<div class="filter">

    <p class="title">Categories</p>
    <p class="sub">Oily Skin</p>
    <p class="sub">Dry Skin</p>
    <p class="sub">Sensitive Skin</p>
    <p class="sub">Combination Skin</p>

    <p class="title" style="margin-bottom:40px">Price</p>
    <div class="line"></div>
    <div class="circle"></div>
    <p style="margin-left:70px; font-size:15px; margin-top:10px">R250</p>

    <p class="title">Type</p>

    <p class="sub">Cleaner</p>
    <p class="sub">Moisturiser</p>
    <p class="sub">Serum</p>
    <p class="sub">Toner</p>
    <p class="sub">Masque</p>

    <p class="title" style="margin-bottom:20px">Size</p>
    <div class="block">5ml</div>
    <div class="block">10ml</div>
    <div class="block">20ml</div>
    <div class="block">50ml</div>

    <div class="button">APPLY FILTER</div>
</div>

<a href="/individual?id=0">
<div class="item">
    <div class="photo"><img src={{image1}} style="width:100%; object-fit: contain;"/></div>
    <p class="name">{{name1}}</p>
    <p style="text-align: center;">{{price1}}</p>
</div>
</a>

<a href="/individual?id=1">
<div class="item">
    <div class="photo"><img src={{image2}} style="width:100%; object-fit: contain;"/></div>
    <p class="name">{{name2}}</p>
    <p style="text-align: center;">{{price2}}</p>
</div>
</a>

<a href="/individual?id=2">
<div class="item">
    <div class="photo"><img src={{image3}} style="width:100%; object-fit: contain;"/></div>
    <p class="name">{{name3}}</p>
    <p style="text-align: center;">{{price3}}</p>
</div>
</a>

<a href="/individual?id=3">
<div class="item">
    <div class="photo"><img src={{image4}} style="width:100%; object-fit: contain;"/></div>
    <p class="name">{{name4}}</p>
    <p style="text-align: center;">{{price4}}</p>
</div>
</a>

<a href="/individual?id=4">
<div class="item">
    <div class="photo"><img src={{image5}} style="width:100%; object-fit: contain;"/></div>
    <p class="name">{{name5}}</p>
    <p style="text-align: center;">{{price5}}</p>
</div>
</a>

<a href="/individual?id=5">
<div class="item">
    <div class="photo"><img src={{image6}} style="width:100%; object-fit: contain;"/></div>
    <p class="name">{{name6}}</p>
    <p style="text-align: center;">{{price6}}</p>
</div>
<!-- </a> -->

<a href="/individual?id=6">
<div class="item">
    <div class="photo"><img src={{image7}} style="width:100%; object-fit: contain;"/></div>
    <p class="name">{{name7}}</p>
    <p style="text-align: center;">{{price7}}</p>
</div>
<!-- </a> -->

<a href="/individual?id=7">
<div class="item">
    <div class="photo"><img src={{image8}} style="width:100%; object-fit: contain;"/></div>
    <p class="name">{{name8}}</p>
    <p style="text-align: center;">{{price8}}</p>
</div>
<!-- </a> -->

<a href="/individual?id=8">
<div class="item">
    <div class="photo"><img src={{image9}} style="width:100%; object-fit: contain;"/></div>
    <p class="name">{{name9}}</p>
    <p style="text-align: center;">{{price9}}</p>
</div>
</a>

<a href="/individual?id=9">
<div class="item">
    <div class="photo"><img src={{image10}} style="width:100%; object-fit: contain;"/></div>
    <p class="name">{{name10}}</p>
    <p style="text-align: center;">{{price10}}</p>
</div>
<!-- </a> -->

<a href="/individual?id=10">
<div class="item" style="margin-left: 2.5%;">
    <div class="photo"><img src={{image11}} style="width:100%; object-fit: contain;"/></div>
    <p class="name">{{name11}}</p>
    <p style="text-align: center;">{{price11}}</p>
</div>
</a>

<a href="/individual?id=11">
<div class="item">
    <div class="photo"><img src={{image12}} style="width:100%; object-fit: contain;"/></div>
    <p class="name">{{name12}}</p>
    <p style="text-align: center;">{{price12}}</p>
</div>
</a>

<a href="/individual?id=12">
<div class="item">
    <div class="photo"><img src={{image13}} style="width:100%; object-fit: contain;"/></div>
    <p class="name">{{name13}}</p>
    <p style="text-align: center;">{{price13}}</p>
</div>
<!-- </a> -->

<a href="/individual?id=13">
<div class="item">
    <div class="photo"><img src={{image14}} style="width:100%; object-fit: contain;"/></div>
    <p class="name">{{name14}}</p>
    <p style="text-align: center;">{{price14}}</p>
</div>
<!-- </a> -->

<a href="/individual?id=14">
<div class="item">
    <div class="photo"><img src={{image15}} style="width:100%; object-fit: contain;"/></div>
    <p class="name">{{name15}}</p>
    <p style="text-align: center;">{{price15}}</p>
</div>
<!-- </a> -->

<a href="/individual?id=15">
<div class="item">
    <div class="photo"><img src={{image16}} style="width:100%; object-fit: contain;"/></div>
    <p class="name">{{name16}}</p>
    <p style="text-align: center;">{{price16}}</p>
</div>
</a>

<div class="row" style="height:40px; width:100%"></div>

<div class="button" style="width:15%; margin:auto">LOAD MORE</div>


