<div class="container row col-12">
    <div class="row">
        <h5>YOU MIGHT LIKE</h5>
    </div>
        <div class="row" id="scrollable">
            <a href="/individual?id=0"class="item-container" style="margin-left:6.5%">
            <div >
                <div class="block"><img src= {{image1}} style="width:100%; object-fit: contain;"/></div>
                <h3 class="item">{{name1}}</h3>
                <h4 class="price">{{price1}}</h4>
            </div></a>

            <a href="/individual?id=1"class="item-container">
            <div >
                <div class="block"><img src= {{image2}} style="width:100%; object-fit: contain;"/></div>
                <h3 class="item">{{name2}}</h3>
                <h4 class="price">{{price2}}</h4>
            </div></a>

            <a href="/individual?id=2"class="item-container">
            <div>
                <div class="block"><img src= {{image3}} style="width:100%; object-fit: contain;"/></div>
                <h3 class="item">{{name3}}</h3>
                <h4 class="price">{{price3}}</h4>
            </div></a>

            <a href="/individual?id=3"class="item-container">
            <div class="item-container" >
                <div class="block"><img src= {{image4}} style="width:100%; object-fit: contain;"/></div>
                <h3 class="item">{{name4}}</h3>
                <h4 class="price">{{price4}}</h4>
            </div></a>

        </div>
</div>