<app-alt-nav></app-alt-nav>

<div style="width:70%; float:left;">
<div class="item-card">
    <div class="image"></div>
    <div style="float:left; width:65%">
        <h1>Hydrating face serum</h1>
        <div class="line"></div>
        <div class="half1">
            Size<br>Details<br>Quantity
        </div>
        <div class="half2">
            40ml<br>Serum | Dry skin<br>1
        </div>
        <div class="line" style="margin-top:140px"></div>

        <div class="price">R200</div>
    </div>
    
</div>

<div class="item-card">
    <div class="image"></div>
    <div style="float:left; width:65%">
        <h1>Hydrating face serum</h1>
        <div class="line"></div>
        <div class="half1">
            Size<br>Details<br>Quantity
        </div>
        <div class="half2">
            40ml<br>Serum | Dry skin<br>1
        </div>
        <div class="line" style="margin-top:140px"></div>

        <div class="price">R200</div>
    </div>
    
</div>

</div>
<div style="width:30%; float:left;">
    <div class="promo">

        <h1 style="margin:0; padding:0">Apply a promo</h1>
        <div class="line" style="margin-top:20px; margin-left:0; padding:0"></div>
        <input class="join" placeholder="Email"/>

        <div class="join-btn">Sign up</div>
    </div>

    <div class="promo">

        <h1 style="margin:0; padding:0">Your order</h1>
        <div class="line" style="margin-top:20px; margin-left:0; padding:0"></div>
        <div class="half1">
            Subtotal<br>Delivery Fee
        </div>
        <div class="half2" style="text-align: right;">
            R200<br>R60
        </div>

        <div class="line" style="margin-top:100px; margin-left:0; padding:0"></div>
        <h1 style="text-align: right; margin-left:0;">R200</h1>

        <div class="button">PROCEED TO CHECKOUT</div>
    </div>
</div>