<div class="container row col-12">

    <div class="col-6">
        <div class="row" style="margin-left:8.333%;">
            <h5 class="col-10 col-lg-5">COSMOS</h5>
        </div>
        
        <div class="row" style="margin-left:8.333%;">
        <p class="col-9 col-lg-4">Cosmos is your one stop shop for beautiful skin! We offer everything you might need to start your natural skincare regimen - from cleansers to serums and skin tools. Take a quick skincare quiz to learn about your skin type and start your skincare journey </p>
        </div>
    </div>

    <div class="col-6" style="padding:2%">
        <div class="block" style="background-image: url(../../assets/1.jpg);"></div>
        <div class="block" style="background-image: url(../../assets/2.jpg);"></div>
        <div class="block" style="float:right; margin-top:2%; margin-right:19px; background-image: url(../../assets/3.jpg)"></div>
    </div>
</div>

<router-outlet></router-outlet>