<div id="slideshow">

<div class="headerImg">

    <app-nav></app-nav>
    
<div class="row" style="margin-left:8.333%;">
    <h1 class="col-10 col-lg-5">Natural skincare for every skintype</h1>
</div>

<div class="row" style="margin-left:8.333%;">
<p class="col-9 col-lg-4">Here at Cosmos we will help you find the perfect products for your skin. We stock a variety of products from all over the world to help you find your perfect skincare match. </p>
</div>

<div class="row" style="margin-left:8.333%; margin-bottom: 280px;">
    <a href="/shop"><div class="button col-10 col-lg-1">SHOP NOW</div></a>
</div>

<div class="dot-container">
    <div class="dot active"></div>
    <div class="dot"></div>
    <div class="dot"></div>
</div>

<div class="describe-container">
    <p class="more"><strong>Beezwax Ointment</strong><br>R125</p>
    <p class="more1"><strong>Body oil - intensive moisture</strong><br>R200</p>
    <p class="more3"><strong>Cleansing oil</strong><br>R190</p>
</div>

</div>


<div class="headerImg2">

    <app-nav></app-nav>
    
<div class="row" style="margin-left:8.333%;">
    <h1 class="col-10 col-lg-5">Gorgeous skin from head to toe</h1>
</div>

<div class="row" style="margin-left:8.333%;">
<p class="col-9 col-lg-4">Here at Cosmos we will help you find the perfect products for your skin. We stock a variety of products from all over the world to help you find your perfect skincare match. </p>
</div>

<div class="row" style="margin-left:8.333%; margin-bottom: 280px;">
    <a href="/shop"><div class="button col-10 col-lg-1">SHOP NOW</div></a>
</div>

<div class="dot-container">
    <div class="dot"></div>
    <div class="dot active"></div>
    <div class="dot"></div>
</div>

<div class="describe-container">
    <p class="more" style='margin-left:430px; margin-top:340px'><strong>Bare neccessities body lotion</strong><br>R125</p>
</div>

</div>


<div class="headerImg3">

    <app-nav></app-nav>
    
<div class="row" style="margin-left:8.333%;">
    <h1 class="col-10 col-lg-5">Simple, clean and effective skincare</h1>
</div>

<div class="row" style="margin-left:8.333%;">
<p class="col-9 col-lg-4">Here at Cosmos we will help you find the perfect products for your skin. We stock a variety of products from all over the world to help you find your perfect skincare match. </p>
</div>

<div class="row" style="margin-left:8.333%; margin-bottom: 280px;">
    <a href="/shop"><div class="button col-10 col-lg-1">SHOP NOW</div></a>
</div>

<div class="dot-container">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot active"></div>
</div>

<div class="describe-container">
    <p class="more" style="margin-top: 310px; margin-left:420px"><strong>Charcoal Cleanser</strong><br>R145</p>
    <p class="more1" style="margin-top: 460px; margin-left:720px"><strong>Moisturing balm</strong><br>R200</p>
    <p class="more3" style="margin-top: -635px; margin-left:550px"><strong>Dark circle defense</strong><br>R190</p>
</div>

</div>

</div>